<!doctype html>
<html
  lang="en"
  xmlns:th="http://www.thymeleaf.org"
  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
  layout:decorate="~{layouts/layout}"
>
  <head>
    <title layout:fragment="title">Method Not Allowed</title>
  </head>

  <body>
    <div class="container-fluid" layout:fragment="content">
      <div class="container-fluid">
        <!-- 405 Error Text -->
        <div class="text-center">
          <div class="error mx-auto" data-text="405">405</div>
          <p class="lead text-gray-800 mb-5">Method Not Allowed</p>
          <p class="text-gray-500 mb-0">허용되지 않은 요청입니다.</p>
          <a th:href="@{/}">&larr; Back to Home</a>
        </div>
      </div>
    </div>
    <!-- /.container-fluid -->
  </body>
</html>
