.content-wrapper-80 {
  max-width: 80%;
  margin: 0 auto;
}
@media (max-width: 992px) {
  .content-wrapper-80 {
    max-width: 100%;
  }
}
.notice-content {
  white-space: pre-wrap;
  line-height: 1.7;
  word-break: break-word;
}
